* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.App {
  height: 500px;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  padding: 0px 50px;
  gap: 5%;
  flex-wrap: wrap;
}

.image {
  width: 100%;
  height: 410px;
  border-radius: 7px;
  box-shadow: -1px 9px 24px -10px rgba(0, 0, 0, 0.75);
  transition: all 0.3s;
}

.image:hover {
  box-shadow: -57px -44px 78px -53px rgba(0, 0, 0, 0.4);
  margin-top: -.60rem;
  margin-bottom: .60rem;
}

section {
  width: 300px;
}

.title-header {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

.title-header .heading {
  font-size: 1.5rem;
}

.title-header {
  font-size: 1.3rem;

}

.para i {
  color: yellow;
}

.para {
  font-weight: 600;
  margin-top: 5px;
}

.tests p {
  padding: 20px 0px;
  color: #000;
  opacity: 0.8;
}